<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
        <div class="col-sm-2 col-lg-4"></div>
        <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
                <h1> Registration </h1>
                <form name="registrationForm" ng-submit="ctrl.registerUser()" novalidate>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" required ng-model="ctrl.user.email" /> {{ ctrl.displayUser.email }}
                            <div class ="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                                <div class = "error form-hint" data-ng-show="registrationForm.email.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                            </div>
                                    <div class = "error form-hint" data-ng-show="registrationForm.email.$error.email">
                                        <span class = "glyphicon glyphicon-alert"></span> Email is invalid  
                                    </div>
                                </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" minlength="8" required ng-pattern = "/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                            <div class ="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                                <div class = "error form-hint" data-ng-show="registrationForm.password.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Password is required
                                </div>
                                    <div class = "error form-hint" data-ng-show="registrationForm.password.$error.minlength">
                                        <span class = "glyphicon glyphicon-alert"></span> Password must be at least 8 characters long
                                    </div>
                                    <div class = "error form-hint" data-ng-show="registrationForm.password.$error.pattern">
                                        <span class = "glyphicon glyphicon-alert"></span> Password must include a number, a special character(@,#,$) and both upper and lower cases.
                                    </div>
                                   
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input id="confirm_password" name="confirm_password" type="password" class="form-control" ng-model="ctrl.user.confirm_password" required ng-required = "ctrl.user.password" />
                            <div class ="validation" data-ng-show="registrationForm.confirm_password.$touched || registrationForm.$submitted">
                            <div class = "error form-hint" data-ng-show="registrationForm.confirm_password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                            </div>
                                <div class = "error form-hint" data-ng-show="ctrl.user.password != ctrl.user.confirm_password">
                                    <span class = "glyphicon glyphicon-alert"></span> Password do not match
                                </div>
                        </div> 
                    </div>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.fullname" required/> {{ ctrl.displayUser.fullname }}
                            <div class ="validation" data-ng-show="registrationForm.fullname.$touched || registrationForm.$submitted">
                                <div class = "error form-hint" data-ng-show="registrationForm.fullname.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>  Please fill in your name
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <br/>
                            <input id="gender" name="gender" ng-model = "ctrl.user.gender" type="radio" value="M" ng-model="ctrl.user.gender" ng-checked = "true"/>  Male 
                            <br/>
                            <input id="gender" name="gender" ng-model = "ctrl.user.gender" type="radio" value="F" ng-model="ctrl.user.gender" />  Female 
                            <br/> {{ ctrl.displayUser.gender }}
                            <div class = "error form-hint" data-ng-show="ctrl.onlyFemale() == false">
                            <span class="glyphicon glyphicon-alert"></span> Only Females allowed
                                </div>
                        </div>
            
                        <div class="form-group">
                                <label for="dateOfBirth">Date of Birth</label>
                                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dateOfBirth" min="1921-01-01" max="1997-01-21" required/> {{ ctrl.displayUser.dateOfBirth }}
                                <div class ="validation" data-ng-show="ctrl.birthDate() == false">
                                        <span class="glyphicon glyphicon-alert"></span> Only above 21s allowed
                                            </div>
                
                               </div>
                            
            
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address" required /> {{ ctrl.displayUser.address }}
                            <div class ="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                                <div class = "error form-hint" data-ng-show="registrationForm.address.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Please fill in the address
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nationality">Nationality</label>
                            <select class="form-control" id="nationality" ng-model="ctrl.user.nationality" required/> {{ ctrl.displayUser.nationality }}
                         
                            <option value="Singaporean">Singaporean</option>
                            <option value="Malaysian">Malaysian</option>
                            <option value="Thai">Thai</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="contactNumber">Contact number</label>
                            <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.user.contactNumber" minlength="8" maxlength="8" required ng-pattern="\b\d{8}?" /> {{ ctrl.displayUser.contactNumber }}
                            <div class ="validation" data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
                                <div data-ng-show="registrationForm.contactNumber.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> This field is required
                                </div>
                                    <div class = "error form-hint" data-ng-show="registrationForm.contactNumber.$error.minlength">
                                        <span class = "glyphicon glyphicon-alert"></span> Contact must be local singapore number
                                    </div>
                                    <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                                        <span class = "glyphicon glyphicon-alert"></span>  Contact should only contain numbers
                                    </div>
                                </div> 
                        </div>
                        <div class="form-group">
                            <hr/>
                            <input id="submit" name="submit" type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid" />
                        </div>
                    </form>
                </div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>