
.registration-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
    padding: 20px 0;
    font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
    background-color: #e3e3e3;
}

.validation {
    color: #d95434; 
}


.form-control.error {
    border-color: red;
}

.form-hint {
    font-size: 7pt;
    margin: auto;
    color: #999;
}

.form-hint.error {
    color: #C00;
    font-weight: bold;
    font-size: 10pt;
}
.input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
  }
